.TemperatureWrapper {
    color: #333333;
    position: relative;
    left: -225px;
    top: -270px;
    font-size: 3.75rem;
    margin: .1rem 0;
}
.TemperatureWrapper .TemperatureSymbol {
    font-size: 3.125rem;
}